

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.opacity-50 { opacity: .5; }
.opacity-75 { opacity: .75; }

.list-group {
  width: auto;
  max-width: 80%;
  margin: 4rem auto;
}

.form-check-input:checked + .form-checked-content {
  opacity: .5;
}

.form-check-input-placeholder {
  pointer-events: none;
  border-style: dashed;
}
[contenteditable]:focus {
  outline: 0;
}

.btn-group{
  display: none;
}
.list-group-checkable {
  display: grid;
  gap: .5rem;
  border: 0;
}
.list-group-checkable .list-group-item {
  cursor: pointer;
  border-radius: .5rem;
}
.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.list-group-item-check:hover + .list-group-item  .btn-group{
  background-color: var(--bs-blue);
  color: #fff;
  display: flex;
}


#belts {
width: 20%;
}